@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap');

$mainFont: "oswald";
$tittleFont: "sacramento"; 

$sizeS: 1.2rem;
$sizeM: 1.8rem;
$sizeXl: 2.5rem;