
//ENCABEZADO 

.mainHeader {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px 0;
}

.logotipo{
    height: 50px;
    .isologotipo{
        height: 50px;
        display: none;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list{
        list-style: none;
        display: flex;
        gap: 1rem;
    }
    .listItem{
        font-size: 1.8rem;
    }
    .link{
        text-decoration: none;
        text-transform:capitalize;
        color: #000;
        font-family: $mainFont;
    }
    .link:hover{
        color: $linkColor;
    }
}

/* MOBILE HEADER */
@media (min-width: 1025px) {
    .isologotipo {
        display: inherit;
    }


    .logotipo {
        display: none;
    }
}
