@import "_variables";
@import "_fonts";
@import "_nav";
@import "_hero";
@import "_footer";
@import "_mixins";
@import "_productos";
@import "_cuida";
@import "_colecc";


//CONTENEDOR PRINCIPAL

.mainCollage {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 20px;
    padding: 20px 0;
    align-items: center;

    .collage {
        max-width: 400px;
    }

    .mainTitle{
        @include titulos(capitalize, center, 0 0 0 10px 0, 10px, 1px solid #000);
        font-family: $tittleFont;
        font-size: $sizeXl;
    
    }
    
    .description{
        font-size: $sizeS ;
        font-family: $mainFont;
    }
}

// MOBILE CONTENEDOR PRINCIPAL
@media (min-width: 1025px) {
    .mainCollage {
        flex-direction: row;
        align-items: flex-start;
    }
}


//CONTACTO
.mainContainer.contacto{
    flex-direction: column;
    text-align: center;
}
.contactTitle{
    font-size: $sizeXl;
    font-family: $mainFont;
}
p{
    font-size: $sizeS;
    font-family: $mainFont;
}

form label{
    font-size: 1.6rem;
    display: block;
}

.formularioContacto{
    text-align: center;
    text-transform: capitalize;
    border-bottom: 1px solid gray;
    padding: 4.5em 3em;
    margin: auto;
    background-color: $backform;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
}

//cuidados
.mainTitle{
    @include titulos(capitalize, center, 0 0 0 10px 0, 10px, 1px solid #000);
        font-family: $tittleFont;
        font-size: $sizeXl;
}

.mainContainer.cuidados{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
}
.listItem{
    font-weight: 300;
    text-align:justify;
    font-family: $mainFont;
    font-size: $sizeS;
    padding: 10px;
}

.msjCuidados{
        font-family: $tittleFont;
        font-size: $sizeM; 
        text-align: center;
        padding: 10px; 
}